$white: #ffffff;
$black: #000000;
$light-red: #e93f2e;
$dark-red: #b72213;
$white-rgba-0:    rgba(255,255,255,0);
$indigo-lighten-2:  #7986cb;
$indigo:            #3f51b5;
$background-page:   rgba(255, 255, 255, 1);
$light-primary-border: #d8dcde;
$positive-accent: #8bc34a;
$negative-accent: #e53935;
