$white: #ffffff;
$black: #000000;
$light-red: #e93f2e;
$dark-red: #b72213;
$white-rgba-0:    rgba(255,255,255,0);
$indigo-lighten-2:  #7986cb;
$indigo:            #3f51b5;
$background-page:   rgba(255, 255, 255, 1);
$light-primary-border: #d8dcde;
$dark-primary-border: #61686c;
$positive-accent: #8bc34a;
$negative-accent: #e53935;
$positive-dark-accent: #42753a;
$negative-dark-accent: #9b0f0b;
$warning-accent: #e7bf18;
$library-app-primary: #263238;
