@import "../../../../assets/scss/colors";

.btn-googleplus {
  width: 100px;
  height: 40px;
  background: $light-red;
  color: $white;
  border-width: 1px;
  border-style: solid;
  border-color: $dark-red;
  cursor: pointer;

  &:link, &:visited {
    color: $white;
  }
  &:active, &:hover {
    background: $dark-red;
    color: $white;
  }
  .icon-google {
    font-size: 25px;
  }
}
