<h1 class="ask-for-book_header" mat-dialog-title>Запрос на книгу</h1>
<div mat-dialog-content class="ask-for-book_content">
  <mat-form-field appearance="fill">
    <textarea rows="6" matInput [formControl]="commentText" placeholder="Добавьте ссылку на книгу, которую хотели бы видеть в нашей библиотеке"></textarea>
  </mat-form-field>
</div>
<div class="ask-for-book_footer">
  <button mat-flat-button (click)="cancel()">Отмена</button>
  <button mat-flat-button color="accent" (click)="onSaveClick()">Отправить</button>
</div>
