<h1 class="ask-for-book_header" mat-dialog-title>Запрос на книгу</h1>
<div mat-dialog-content class="ask-for-book_content">
  <mat-form-field appearance="fill" class="ask-for-book_input">
    <input matInput [formControl]="url" placeholder="Ссылка на книгу">
  </mat-form-field>
  <mat-form-field appearance="fill" class="ask-for-book_input">
    <textarea rows="6" matInput [formControl]="description" placeholder="Комментарий"></textarea>
  </mat-form-field>
</div>
<div class="ask-for-book_footer">
  <button mat-flat-button (click)="cancel()">Отмена</button>
  <button mat-flat-button color="accent" (click)="onSaveClick()">Отправить</button>
</div>
