.book-card {
  display: flex;

  &_image-container {
    width: 150px;
    height: 200px;
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
    flex-shrink: 0;
    overflow: hidden;
    img {
      width: 100%;
      display: block;
      margin: auto;
    }
  }
  &_main-info {
    padding: 10px;
  }
  &_title {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
  }
  &_comments-button {
    margin: 20px auto;
    display: block;
  }
  &_description {
    padding-top: 10px;
    font-weight: 300;
  }
  &_details {
    padding: 10px 0 10px;
    width: 220px;
    box-sizing: border-box;
    flex-shrink: 0;
  }
  &_icon-button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
  }
  &_rating {
    height: 50px;
    &-like {
      color: #8bc34a;
      top: 3px;
    }
    &-dislike {
      color: #e53935;
      top: 9px;
    }
    &-block {
      margin-right: 15px;
    }
    &-icon {
      position: relative;
      margin-right: 5px;
    }
  }
  &_voting {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_queue {
    padding-left: 16px;
    font-weight: 300;
  }
}
