<div class="book-card">
  <div class="book-card_cover">
    <div class="book-card_image-container">
      <img [src]="book.image">
    </div>
    <button
      *ngIf="book.inLibrary"
      (click)="addToWishlist()"
      mat-button color="accent"
      class="book-card_favorite-button">
      <i class="material-icons"> favorite_border </i>
      в избранное
    </button>
  </div>
  <div class="book-card_main-info">
    <div class="book-card_title mat-h4">
      <span>{{book.title}}</span>
      <div class="book-card_rating" *ngIf="book.inLibrary">
        <span class="book-card_rating-block"><i class="material-icons book-card_rating-like book-card_rating-icon">thumb_up</i>{{book.likesCount}}</span>
        <span class="book-card_rating-block"><i class="material-icons book-card_rating-dislike book-card_rating-icon">thumb_down</i>{{book.dislikesCount}}</span>
      </div>
    </div>
    <div class="book-card_author mat-h5">
      <span *ngFor="let author of book.author; last as isLast">{{author}}, </span>
      <span>{{ book.publishedDate | date: 'yyyy' }}</span>
    </div>
    <div class="book-card_description">{{book.description}}</div>
    <ng-container *ngIf="book.comments?.length">
      <div *ngFor="let comment of book.comments; let i = index">
        <app-comment *ngIf="showComment(i)" [comment]="comment"></app-comment>
      </div>
      <button
        mat-button
        class="book-card_comments-button"
        color="accent"
        *ngIf="hasMoreComments()"
        (click)="toggleComments()">{{ toggleCommentsButtonText }}</button>
    </ng-container>
  </div>
  <div class="book-card_details">
    <app-voting-block
      *ngIf="book.isUnderVoting"
      [votes]="book.votes"
      (onVote)="vote($event)"
      [currentUser]="currentUser"></app-voting-block>
    <div *ngIf="book.inLibrary">
      <ng-container *ngIf="isAvailable">
        <button [matMenuTriggerFor]="menu" mat-button color="accent">
          Взять книгу<i class="material-icons"> arrow_drop_down </i>
        </button>
        <mat-menu #menu="matMenu">
          <app-time-periods-menu (onChoosePeriod)="takeBook($event)"></app-time-periods-menu>
        </mat-menu>
      </ng-container>
      <app-users-queue-timeline
        *ngIf="book.isTaken && !takenByMe"
        (onGetInQueue)="getInQueue($event)"
        (onGetOutOfQueue)="getOutOfQueue()"
        [usersQueue]="book.usersQueue"
        [currentUser]="currentUser"
        [takenTill]="book.takenTo"
        [takenBy]="book.takenBy"></app-users-queue-timeline>
      <app-my-taken-status
        *ngIf="takenByMe"
        [usersQueue]="book.usersQueue"
        [timeRange]="{from: book.takenFrom, to: book.takenTo}"></app-my-taken-status>
    </div>
  </div>
</div>
