<div class="my-taken-status">
  <div class="my-taken-status_return-label" *ngIf="!overdue">Осталось</div>
  <div class="my-taken-status_left-time" [ngClass]="{
      'warning': daysLeft === 1,
      'danger': daysLeft < 1
    }">
    <ng-container *ngIf="!overdue; else: overdueText">
      <div class="my-taken-status_days-count" >
        <span *ngIf="daysLeft > 1">{{daysLeft}} </span>
        <span>{daysLeft, plural, =0 {сегодня} =1 {завтра} one {день} few {дня} many {дней}}</span>
      </div>
    </ng-container>
    <ng-template #overdueText><div class="my-taken-status_days-count my-taken-status_days-count_small">Просрочено</div></ng-template>

    <svg class="my-taken-status_svg" width="120" height="120" viewPort="0 0 100 100" version="1.1"
         xmlns="http://www.w3.org/2000/svg">
      <circle [attr.r]="circleRadius" cx="60" cy="60" fill="transparent" stroke-dashoffset="0" stroke-dasharray="4"></circle>
      <circle class="my-taken-status_svg-bar"
              [attr.stroke-dashoffset]="timeLeftOffset"
              [attr.r]="circleRadius" cx="60" cy="60"
              fill="transparent"
              [attr.stroke-dasharray]="circuit"
              stroke-linecap="round"
              transform="rotate(-90 60 60)"></circle>
    </svg>
  </div>
  <div *ngIf="usersCount" [matTooltip]="usersList">
    В очереди
    <span class="mat-body-strong"
          i18n>{usersCount, plural, one {1 человек} few {{{usersCount}} человека} other {{{usersCount}} человек}}</span>
  </div>
  <button mat-flat-button color="accent" (click)="returnBook()">Вернуть</button>
</div>
