<div class="books-list">
  <mat-accordion displayMode="flat" multi="true">
    <mat-expansion-panel expanded="true" *ngIf="updates.length">
      <mat-expansion-panel-header>
        <h3 class="books-list_section-title mat-h3">Обновления</h3>
      </mat-expansion-panel-header>
      <app-book-card
        *ngFor="let book of updates | searchFilter : searchText : searchFields; let odd = odd"
        [book]="book"
        [ngClass]="{'odd-item': odd}"></app-book-card>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true" *ngIf="takenByMe.length">
      <mat-expansion-panel-header>
        <h3 class="books-list_section-title mat-h3">У меня</h3>
      </mat-expansion-panel-header>
      <app-book-card
        *ngFor="let book of takenByMe | searchFilter : searchText : searchFields; let odd = odd"
        [book]="book"
        [ngClass]="{'odd-item': odd}"></app-book-card>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true" *ngIf="allBooks.length">
      <mat-expansion-panel-header>
        <h3 class="books-list_section-title mat-h3">Все книги</h3>
      </mat-expansion-panel-header>
      <app-book-card
        *ngFor="let book of allBooks | searchFilter : searchText : searchFields; let odd = odd"
        [book]="book"
        [ngClass]="{'odd-item': odd}"></app-book-card>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<button mat-fab (click)="askForBook()" color="accent" class="books-list_add-button">
  <i class="material-icons"> add</i>
</button>
