.books-list {
  &_section-title {
    font-size: 20px;
    padding: 20px 10px 10px;
    margin: 0;
    overflow: hidden;
    width: 100%;
    &:after {
      content:"";
      display: inline-block;
      height: 0.6em;
      vertical-align: bottom;
      width: 100%;
      margin-right: -100%;
      margin-left: 15px;
      border-top: 1px solid rgba(0,0,0,.38);
    }
  }
  .mat-expansion-panel-header {
    flex-direction: row-reverse;
    &.mat-expanded ::ng-deep .mat-expansion-indicator::after {
      margin-bottom: 15px;
    }
  }
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }
}
