<table mdbTable class="table">
  <thead class="white-text header">
  <tr>
    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
  </tr>
  </thead>
  <tbody class="body">
  <tr mdbTableCol *ngFor="let book of allBooks">
    <td class="td image">
      <img src="{{book.image}}" class="picture">
    </td>
    <td class="td">{{book.title}}</td>
    <td class="td">{{book.author}}</td>
    <td class="td description">{{book.description}}</td>
    <td class="td count">{{book.availableCount}}/{{book.count}}</td>
    <td class="td labels">
      <a href="" *ngFor="let label of getBookLabels(book)">
        <mdb-badge primary="true">{{label.name}}</mdb-badge>
      </a>
    </td>
  </tr>
  </tbody>
</table>

